hoist=false

# needed by vike-react to fix the following error on `pnpm -C web dev`:
#
#   3:11:31 AM [vike][request(1)] Following error was thrown by the onRenderHtml() hook defined at vike-react/renderer/onRenderHtml
#   Error: Cannot find package 'react-dom' imported from /home/sqs/src/github.com/sourcegraph/openctx/node_modules/.pnpm/@brillout+import@0.2.3/node_modules/@brillout/import/dist/index.js
public-hoist-pattern[]=*react-dom*

# Needed to use eslint plugins in the `.eslintrc` config.
public-hoist-pattern[]=*eslint*

# Needed to import package README.md files in the web content pages.
public-hoist-pattern[]=@mdx-js/react  # needed for client/codemirror/README.md
public-hoist-pattern[]=@code-hike/mdx  # needed for client/codemirror/README.md
public-hoist-pattern[]=react # needed for client/vscode/README.md
public-hoist-pattern[]=@storybook/html # needed to avoid: [vite] Internal server error: Failed to resolve import "@storybook/html/dist/entry-preview.mjs" from "../../../../../../../../virtual:/@storybook/builder-vite/vite-app.js". Does the file exist?
public-hoist-pattern[]=@swc/wasm # fix `Could not resolve "@swc/wasm"` from @swc/core in vscode desktop build
