.octx-line-chips {
    margin-left: 7px;
}

.octx-chip {
    font-size: 83%;
    line-height: normal;
    font-family: system-ui, sans-serif;
}

html[data-color-mode='light'] {
    & .octx-chip {
        background: #00000011;
        border: solid 1px #00000019;
        color: black;

        &:hover {
            background-color: #00000022;
        }
    }

    & .octx-chip-popover {
        border: solid 1px #00000019;
    }
}

html[data-color-mode='dark'] {
    & .octx-chip {
        background: #ffffff3a;
        border: solid 1px #ffffff55;
        color: white;

        &:hover {
            background-color: #ffffff22;
        }
    }

    & .octx-chip-popover {
        border: solid 1px #ffffff55;
    }
}
