.header {
    display: flex;
    gap: calc(2 * var(--spacing));
    align-items: baseline;
}

.header h1 {
    margin: 0;
    white-space: nowrap;
    font-size: unset;
    font-weight: semibold;
}

.status {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status--ok {
    color: green;
}

.status--error {
    color: red;
}
