.query-form {
    label {
        font-weight: bold;
        font-size: 80%;
        display: block;
        margin-bottom: calc(0.25 * var(--spacing));
    }
    input {
        padding: calc(0.5 * var(--spacing)) calc(0.75 * var(--spacing));
        width: 100%;
    }
}

.mentions-list {
    list-style-type: none;
    margin: 0;
    padding: var(--spacing) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    overflow: hidden;
}

.mention-details {
    summary {
        cursor: pointer;
    }
    > :not(summary) {
        border: solid 1px ButtonBorder;
        padding: var(--spacing);
        max-width: 100%;
        overflow: auto;
    }
}
