@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;

    color-scheme: dark light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@layer base {
    :root {
        --background: 276 72% 96%;
        --background-em: 276 72% 100%;
        --foreground: 0 0% 20%;
        --foreground-em: 0 0 0%;

        --card: 275 50% 83%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 276 72% 30%;
        --primary-foreground: 0 0% 98%;

        --secondary: 276 72% 90%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0, 0%, 0%, 0.09;
        --muted-foreground: 0, 0%, 0%, 0.5;

        --accent: 276 72% 90%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0, 0%, 0%, 0.14;
        --input: 276 30% 76%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 276 72% 9%;
            --background-em: 276 72% 4%;
            --foreground: 0 0% 82%;
            --foreground-em: 0 0% 100%;

            --card: 276 50% 17%;
            --card-foreground: 0 0% 98%;

            --popover: 0 0% 3.9%;
            --popover-foreground: 0 0% 98%;

            --primary: 276 72% 90%;
            --primary-foreground: 0 0% 9%;

            --secondary: 276 45% 28%;
            --secondary-foreground: 0 0% 98%;

            --muted: 0, 0%, 100%, 0.09;
            --muted-foreground: 0, 0%, 100%, 0.5;

            --accent: 276 72% 23%;
            --accent-foreground: 0 0% 98%;

            --destructive: 0 62.8% 30.6%;
            --destructive-foreground: 0 0% 98%;

            --border: 0, 0%, 100%, 0.14;
            --input: 276 30% 24%;
            --ring: 0 0% 83.1%;
        }
    }
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
    a {
        @apply underline;
    }
    img {
        display: inline;
    }

    @font-face {
        font-family: InterVariable;
        font-style: normal;
        font-weight: 100 900;
        src: url('/Inter-roman.var.woff2') format('woff2');
    }

    @font-face {
        font-family: InterVariable;
        font-style: italic;
        font-weight: 100 900;
        src: url('/Inter-italic.var.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Fira Code VF';
        font-weight: 300 700;
        src: url('/FiraCode.woff2') format('woff2');
    }
}
